# DONT add your keys here!
# Create a .env file with these fields and add your keys there

OPENROUTER_API_KEY="sk-or-v1-..."
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1

LLM_TAG="mistralai/mistral-nemo"
EMBEDDING_TAG="nvidia/nemotron-3-embed-1b:free"

_NEO4J_URI="bolt://neo4j:7687"
_NEO4J_USERNAME="neo4j"
_NEO4J_PASSWORD="password"
NEO4J_AUTH=neo4j/password
NEO4J_apoc_export_file_enabled=true
NEO4J_apoc_import_file_enabled=true
NEO4J_apoc_import_file_use__neo4j__config=true
NEO4J_PLUGINS=["apoc"]
JDK_JAVA_OPTIONS=--add-modules jdk.incubator.vector

CHROMA_HOST="chromadb"
CHROMA_PORT="8000"

POSTGRES_DB=app
POSTGRES_USER=appuser
POSTGRES_PASSWORD=password

POSTGRES_HOST=postgres # should match the container name for docker-compose.yml
POSTGRES_PORT=5432

REDIS_PASSWORD=password

JWT_SECRET="jwt_secret" # for password reset and email verification JWTs
OAUTH_SECRET="oauth_secret"
GOOGLE_CLIENT_ID="google_client_id.apps.googleusercontent.com" # obtained from Google Cloud console
GOOGLE_CLIENT_SECRET="google_client_secret" # obtained from Google Cloud console

RESEND_API_KEY="re_h7A9TAWr_FDfcbjnX3NHXPdQKLHatFgny"
