__pycache__
.git
.venv

node_modules

model

# this techincally isn't great... but its hard to set the other stuff up
# we'll leave this until we want to build a more fully-fledged CI/CD pipeline
!.env
