:8080 {
    handle /api/* {
        reverse_proxy api:5000 {
            header_up X-Forwarded-Proto {header.X-Forwarded-Proto}
        }
    }

    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}