# DONT add your keys here!
# Create a .env file with these fields and add your keys there
OPENROUTER_API_KEY= "sk-or-v1-..."

_NEO4J_URI = "bolt://neo4j:7687"
_NEO4J_USERNAME = "neo4j"
_NEO4J_PASSWORD = "password"
NEO4J_AUTH=neo4j/password
NEO4J_apoc_export_file_enabled=true
NEO4J_apoc_import_file_enabled=true
NEO4J_apoc_import_file_use__neo4j__config=true
NEO4J_PLUGINS=["apoc"]

CHROMA_HOST="chromadb"
CHROMA_PORT="8000"

POSTGRES_DB=app
POSTGRES_USER=appuser
POSTGRES_PASSWORD=password
