# DONT add your keys here!
# Create a .env file with these fields and add your keys there
OPENROUTER_API_KEY= "sk-or-v1-..."

_NEO4J_URI = "neo4j://localhost:6969"
_NEO4J_USERNAME = "neo4j"
_NEO4J_PASSWORD = "password"
NEO4J_AUTH=neo4j/password
NEO4J_apoc_export_file_enabled=true
NEO4J_apoc_import_file_enabled=true
NEO4J_apoc_import_file_use__neo4j__config=true
NEO4J_PLUGINS=\[\"apoc\"\]
