@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
    --color-background: #16181c;
    --color-dark: #29302C;
    --color-tertiary: #216869;
    --color-secondary: #49A078;
    --color-primary: #9CC5A1;
    --color-text: #DCE1DE;
    --color-text-secondary: #797d7d;

    --font-arvo: "Arvo", serif;
    --text-1-5xl: 1.375rem;
}

body {
    background-color: var(--color-background);
    font-family: Arvo;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color-background);
}

::-webkit-scrollbar-thumb {
    background: var(--color-tertiary);
    border-radius: 999px;
    border: 2px solid var(--color-background);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-secondary);
}